body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	transition: background-color 0.3s, color 0.3s;
}

.container{
	text-align: center;
	margin-top: 20%;
}

.button{
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	border: none;
	border-radius: 6px; 
}

body.light{
	background-color: white;
	color: red;
}

button.light{
	background-color: red;
	color: blue;
}

body.dark{
	background-color: black;
	color: white;
}

button.dark{
	background-color: grey;
	color: red;
}